<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Profile Main</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="main container">
        <div class="cardBlock">
            <div class="blockCardItem">
                <div class="cardPost blockContainer">
                    <% if(blog.image){ %>
                        <div class="cardImg">
                            <img src="<%= blog.image %>" alt="">
                        </div>
                    <% } %>
                    <div class="postOverview">
                        <div class="postDate">
                            <i class="fa-regular fa-calendar" style="color: #676767;"></i>
                            <span class="date"><span class="date"><%=`${blog.date.getDate()}.${blog.date.getMonth() + 1}.${blog.date.getFullYear()}` %></span></span>
                        </div>
                        <div class="postViews">
                            <i class="fa-solid fa-eye" style="color: #676767;"></i>
                            <span class="views"><span class="views"><%= blog.views %></span></span>
                        </div>
                        <div class="postComments">
                            <i class="fa-solid fa-comment" style="color: #676767;"></i>
                            <span class="comments">4</span>
                        </div>
                        <% if(blog.category){ %>
                            <div class="postCategory">
                                <i class="fa-solid fa-comments" style="color: #676767;"></i>
                                <span class="category"><%= blog.category.name %></span>
                            </div>
                        <% } %>
                        <div class="postAuthor">
                            <i class="fa-solid fa-user" style="color: #676767;"></i>
                            <span class="author"><%= blog.author.full_name %></span>
                        </div>
                    </div>
                    <div class="postDescription">
                            <div class="postHeader">
                                <h2><%=blog.title%></h2>
                                <% if(user.id == blog.author.id){ %>
                                    <div class="more-window">
                                        <span class="postMore" onclick="openEditMenu(this)">
                                            <i class="fa-solid fa-ellipsis-vertical" style="color: #757575;"></i>
                                            Еще
                                        </span>
                                        <div class="edit-window">
                                            <a href="/edit">
                                                <button class="edit-btn">Редактировать</button>
                                            </a>
                                            <button class="delete-btn">Удалить</button>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                            <p>
                                <%= blog.description %> 
                            </p>
                            <!-- <p>
                                Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с 
                                двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. 
                                Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье. 
                            </p>
                            <p>
                                Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. 
                                Давайте рассмотрим его подробнее.
                            </p> -->
                        </div>
                    <!-- <div class="postMoreDescription">
                        <h2>Что такое комплексные виджеты Webix?</h2>
                        <p>
                            В отличие от обычных виджетов пользовательского интерфейса JavaScript, 
                            комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации. 
                        </p>
                        <p>
                            Они уже готовы к интеграции в Ваше бизнес-приложение, что позволяет экономить рабочее время программистам. 
                            Это визуальное воплощение концепции low-code платформы, которой является Webix. Комплексные виджеты Webix сразу же готовы к работе,
                            потому что они содержат функциональный фронт-энд слой и, при необходимости, снабжены различными опциями для бэк-энда.  
                        </p>
                        <p>
                            Гибкая архитектура Webix позволяет легко настраивать эти приложения, 
                            расширять их функциональность и интегрировать в существующие решения.
                        </p>
                    </div> -->
                    
                    <div class="commentary">
                        <% if(totalComments > 0){ %>
                            <h2 class="countComment"><%= totalComments %> комментария</h2>
                        <% } %>
                        <% if(comments){
                            comments.forEach(comment =>{
                        %>
                            <div class="whoComment">
                                <div class="whoUser">
                                    <img src="<%= comment.authorId.image %>" alt="avatarUser">
                                    <h2 class="userName"><%= comment.authorId.full_name %></h2>
                                    <!-- <img src="/img/avatar.png" alt="avatarUser">
                                    <h2 class="userName">Елнур Сеитжанов</h2> -->
                                </div>
                                <p class="comment"><%= comment.text %></p>
                                <!-- <p class="comment">В отличие от обычных виджетов пользовательского интерфейса JavaScript, 
                                    комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.
                                </p> -->
                            </div>
                        <% 
                                })
                            } 
                        %>
                        <% if((user._id && user.full_name.length > 0)){ %>
                            <form class="writeComment" onsubmit="sendComment(event)">
                                <input type="hidden" value="<%= user._id %>" id="comment-author">
                                <input type="hidden" value="<%= blog._id %>" id="comment-blog">
                                <textarea id="comment-text" placeholder="Введит текст комментария"></textarea>
                                <button type="submit" class="button">Отправить</button>
                            </form>
                        <% }else{ %>
                            <div class="notComment">
                                <p>Чтобы оставить комментарий <a href="/register">зарегистрируйтесь</a>, или <a href="/login">войдите</a> в аккаунт.</p>
                            </div>
                        <% } %>
                    </div> 
                </div>
            </div>
        </div>
        <div class="categoryBlock">
            <h2 class="categoryTitle">Категории</h2>
            <div class="categoryList">
                <% categories.forEach(category => { %>
                    <a href="/<%= category.key %>"><%= category.name %></a>
                <%})%>
            </div>
        </div>
    </section>
    <%- include('partials/scripts.ejs') %>
</body>
</html>