<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Edit Blog</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="newBlog">
        <form class="formNewBlog" action="/api/blog/edit" method="post" enctype="multipart/form-data">
            <h2>Редактировать блог</h2>
            <fieldset>
                <input type="hidden" value="<%= blog._id %>" name="id">
            </fieldset>
            <fieldset class="fieldset">
                <input class="input" type="text" value="<%= blog.title %>" placeholder="Введите заголовок блога" name="title">
            </fieldset>
            <fieldset class="fieldset">
                <select  name="category">
                    <option selected>Выберите категорию</option>
                    <% 
                        categories.forEach(category => { 
                        if(category.id == blog.category){
                    %>
                        <option value="<%= category._id %>" selected><%= category.name %></option>
                    <% 
                        }else{
                    %>
                        <option value="<%= category._id %>"><%= category.name %></option>
                    <%
                            }
                        })
                    %>
                </select>
            </fieldset>
            <fieldset>
                <input type="file" name="image">
                <!-- <input type="file" id="file-input" name="image">
                <button class="btnSelectAnImage button">Выберите картинку</button> -->
            </fieldset>
            <fieldset class="fieldset">
                <textarea rows="8" placeholder="Введите описание блога" value="<%= blog.description %>" name="description"></textarea>
            </fieldset>
                <button class="button" type="submit" >Изменить</button>
        </form>
    </section>
    <%- include('partials/scripts.ejs') %>
</body>
</html>