<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Main</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="main container">
        <div class="cardBlock">
            <div class="blockCardItem">
                
                    <div class="cardContent">
                        <h2>Блоги по программированию</h2>
                        <p>
                            Популярные и лучшие публикации по программированию для начинающих и 
                            профессиональных программистов и IT-специалистов.
                        </p>
                    </div>
                    <% blogs.forEach(blog => { %>
                    <div class="cardPost blockContainer">
                        <% if(blog.image){ %>
                            <div class="cardImg">
                                <img src="<%= blog.image %>" alt="">
                            </div>
                        <% } %>
                        <div class="postDescription">
                            <!-- <h2>Обзор Report Manager от Webix</h2> -->
                            <a href="/detailBlog/<%= blog.id %>"><h2><%= blog.title %></h2></a>
                            <!-- <p>
                                Осень 2020 года стала плодотворным временем для специалистов Webix. 
                            </p>
                            <p>
                                Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с 
                                двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. 
                                Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье. 
                            </p>
                            <p>
                                Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. 
                                Давайте рассмотрим его подробнее.
                            </p> -->
                            <p><%= blog.description %></p>
                        </div>
                        <div class="postOverview">
                            <div class="postDate">
                                <i class="fa-regular fa-calendar" style="color: #676767;"></i>
                                <span class="date"><%=`${blog.date.getDate()}.${blog.date.getMonth() + 1}.${blog.date.getFullYear()}` %></span>
                            </div>
                            <div class="postViews">
                                <i class="fa-solid fa-eye" style="color: #676767;"></i>
                                <span class="views"><%= blog.views %></span>
                            </div>
                            <div class="postComments">
                                <i class="fa-solid fa-comment" style="color: #676767;"></i>
                                <span class="comments">4</span>
                            </div>
                            <% if(blog.category){ %>
                                <div class="postCategory">
                                    <i class="fa-solid fa-comments" style="color: #676767;"></i>
                                    <span class="category"><%= blog.category.name %></span>
                                </div>
                            <% } %>
                            <div class="postAuthor">
                                <i class="fa-solid fa-user" style="color: #676767;"></i>
                                <span class="author"><%= blog.author.full_name %></span>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <!-- <div class="pages">
                <% 
                    for(let i = 0; i < pages; i++){
                %>
                        <a href="?page=<%=i%>"><%= i+1 %></a>
                <% } %>
            </div> -->
        </div>
        <div class="categoryBlock">
            <h2 class="categoryTitle">Категории</h2>
            <div class="categoryList">
                <% categories.forEach(category => { %>
                    <a href="?category=<%= category.key %>"><%= category.name %></a>
                <%})%>
            </div>
        </div>
        
    </section>
    <%- include('partials/scripts.ejs') %>
</body>
</html>