<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>New Blog</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="newBlog">
        <form class="formNewBlog" action="/api/newBlog" method="post" enctype="multipart/form-data">
            <h2>Новый блог</h2>
            <fieldset class="fieldset">
                <input class="input" type="text" placeholder="Введите заголовок блога" name="title">
            </fieldset>
            <fieldset class="fieldset">
                <select  name="category id="">
                    <option selected>Выберите категорию</option>
                    <% categories.forEach(category => { %>
                        <option value=<%= category._id %>><%= category.name %></option>
                    <%})%>
                </select>
            </fieldset>
            <fieldset>
                <input type="file" name="image">
                <!-- <input type="file" id="file-input" name="image">
                <button class="btnSelectAnImage button">Выберите картинку</button> -->
            </fieldset>
                
                
            <fieldset class="fieldset">
                <textarea rows="8" placeholder="Введите описание блога" name="description"></textarea>
            </fieldset>
                <button class="button" type="submit" >Создать</button>
        </form>
    </section>
    <%- include('partials/scripts.ejs') %>
</body>
</html>